@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.button {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    cursor: pointer;  
}

.visually-hidden {
    visibility: hidden;
}
/* Шапка */
.page-header {
    display: flex;
    color: #000000;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

.page-header-logo {
    display: block;
    margin: 0 70px;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 390px;
}

.navigation-item {
    list-style-type: none;
    /*padding-left: 0px;*/
}

.navigation-user {
    max-width: 264px;
    margin-left: auto;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: top;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    background-color: #ffffff;
    color: #000000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*Векторная графика Седона*/
.main-picture {
    width: 1200px;
    margin: 0 auto;
    background-image: url("../images/decor/main-picture-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto; /*не ограничивать шириной 1200?*/
    background-color: #ffffff;
    color: #000000;
}

.main-picture-welcome {
    display: block;
    margin: 0 auto;
}

.main-picture-gorgeous {
    display: block;
    margin: 0 auto;
}

.main-picture-sedona {
    display: block;
    margin: 0 auto;
}

.main-picture-sedona::after {
    /*width: 1200px;
    height: 57px;
    position: relative;
    background-image: url("../images/decor/decor.svg");
    bottom: -5px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;*/
}

/* Преимущества */
.advantages {
    background-color: #ffffff;
    text-align: center;
}

.advantages-main {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.advantages-main-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

/* Преимущества Список */
.advantages-plus {
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.advantages-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 33%;
    height: 384px;
}

.real-city {
    flex-grow: 33%;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-image {
    /*display: inline-block;*/
    width: 800px;
    height: 384px;
}

.blue {
    color: #ffffff;
    background-color: #82B3D3;
}

.transparency {
    color: #000000;
    background: rgba(131, 179, 211, 0.12);
}

.white {
    color: #000000;
    background: #FFFFFF;
}

.light-blue {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-description {  
    color:#333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}

.white-font {
    color: #ffffff;
}

/*Заинтересовались*/
.search-hotel {
    background-color: #ffffff;
    margin: 0px auto;
}

.search-hotel-title {
    padding-top: 91px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0px auto;
}

.search-hotel-description {
    padding-top: 29px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.button-find {
    margin-top: 56px;
    margin-bottom: 93px;
    width: 574px;
    height: 60px;
    background-color: #756157;
    color: #ffffff;
    border-radius: 4px;
    border: 0px;
}

.text-find {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/* Форма поиска*/
.find-page {
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    margin: 0px auto;
}

.find-hotel-title {
    padding-top: 62px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.find-hotel-form {
    
}
/* Дата заезда*/
.arrival-date {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-transform: capitalize;
}

.departure-date-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

.departure-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #333333;
}

.departure-description .red {
    color: #FF5757;
}

.arrival-date-descriotion {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #333333;
    padding-left: 22px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 18px;
}

.button-search {
    width: 575px;
    height: 60px;
    background: #83B3D3;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*Подвал*/
.page-footer {
    background-color: #ffffff;
    width: 1200px;
    margin: 0px auto;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/*Подписка*/

.newsletter {
    background-image: url("../images/decor/page-footer.jpg");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-color: rgba(131, 179, 211, 0.12);
}

.page-footer-title {
    padding-top: 94px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center
}

.page-footer-description {
    padding-top: 29px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
/*Форма email*/
.newsletter-form {
    margin-top: 46px;
    margin-bottom: 94px;
    background-color: #F2F2F2;
    width: 600px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.newsletter-email{
    color: #000000;
    padding-top: 20px;
    padding-left: 22px;
}
/*Подписаться*/
.newsletter-button {
    width: 200px;
    height: 60px;
    background-color: #82B3D3;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    color: #FFFFFF;
}
.page-footer-container {
    margin-top: 0px auto;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
/*Социальные сети*/
.footer-social {
    background-color: #ffffff;
    margin-top: 0px auto;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0px auto;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.footer-social-item{
    list-style-type: none;
    margin-top: 0px auto;
    /*padding: 0px 6px 6px 0px;*/
}

.footer-contacts {
    /*width: 331px;
    height: 40px;*/
    margin-top: 0px auto;
}

.footer-contacts-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0px auto;
}

.footer-contacts-logo {
    margin-top: 0px auto;
}

/* Каталог */
.catalog-container {
    width: 1200px;
    margin: 0 auto;
}
.inner-header {
    background-image: url("../images/decor/catalog-background.jpg");
    background-color: #82B3D3;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
}

/* Главный заголовок */
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: 70px;
}
/*Гостиницы*/
.main-page {
    margin: 0 auto;
}

.main-page-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 109px;
}
/*Каталог фильтр заголовки */
/*Инфрастурктура, тип жилья, стоимость*/
.catalog-products {
    display: flex;
    justify-content: space-between;
}

.catalog-filter {
    width: 1060px;
    margin-left: 70px;
    margin-top: 35px;
    margin-bottom: 70px;
}

.catalog-left-column {
    width: 366px;
}
.catalog-right-column {
    width: 518px;
}

.catalog-filter-h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}
/*Фильтр поиска*/
.catalog-filter-item {
    list-style-type: none;
}

/*Стоимость value*/
.control-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.control-prise {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.3;
    text-align: right;
}

/* Применить */
.apply-button {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: #82B3D3;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
/* Сбросить */
.clean-button{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Найдено гостиниц */
.inner-section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 0px auto;
}
/* Результаты поиска */
.inner-section {
    background-color: #FFFFFF;
    width: 1200px;
}

.sorting {
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

/*Сортировка*/
.sorting-container{
    color: #333333;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}

.select-control{
    /*padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-right: 129px;*/
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.button-watching {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 16px 17px;
}

.button-light {
    color: #000000;
    background-color: #ffffff;
}

/*Список гостиниц*/
.index-columns {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0px auto;
}

.hotel-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 0px;

    background-color: #ffffff;
}

.holel-card {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 340px;
    margin: 0px auto;
    min-height: 438px;
}

.holel-card-link {
    text-decoration: none;
}

/*Изображения гостиниц*/
.holel-card-image {
    padding-left: 20px;
    padding-top: 20px;
}
/*Amara Resort & Spa*/
.holel-card-title {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
/*Гостиница*/
.holel-card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
/*От .... ₽*/
.holel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

}
/*Подробнее*/
.holel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    border-radius: 4px;
    border-width: 0px;
    text-decoration: none;
}
/*в избранное*/
.apply-button {
    /*margin: 180px 328px;*/
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 140px;
    height: 37px;
    background: #82B3D3;
    padding-top: 9px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-bottom: 8px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    border-width: 0px;
    text-decoration: none;
}

/*Рейтинг*/
.holel-card-star {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

/*Страницы результатов поиска*/
.pagination-item {
    list-style-type: none;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #82B3D3;;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    /*display: flex;*/
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-first {
    color: #000000;
    background-color: #F2F2F2;;;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    /*display: flex;*/
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/*Гостиниц на странице*/
.select-control-hotel {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

/* Футер Каталог */
.newsletter-catalog {
    background-color: #ffffff;
}

.footer-title-catalog {
    color: #000000;
}

.footer-catalog {
    color: #333333;
}