@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

/* Шапка */
.page-header {
    color: #000000;
    background-color: #ffffff;
}

.page-header-logo {
    display: block;
    width: 139px;
    height: 70px;
    margin-left: 70px;
    margin-right: 991px;
    /*Или 47px до Главная?*/ /*Если есть отступ между лого и картинкой, то Лайв «Ретроспектива. Сетки компонентов на флексах». 21 минута. Он там ещё два совета озвучивает*/
    margin-bottom: -5px;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-search {
    /*добавить векторную картинку поиска*/
    /*position: absolute;
    width: 18.05px;
    height: 18.1px;
    left: calc(50% - 18.05px/2 + 0px);
    top: calc(50% - 18.1px/2 - 0.5px);*/
    background: #ffffff;
}

.navigation-favorite {
    /*добавить векторную картинку избранного*/

}
/*
.navigation-button {
    width: 160px;
    height: 37px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 970px;
    margin-right: 70px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #756157;
    border-radius: 4px;
}

.navigation-button-a {
    width: 130px;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 8px;
        
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

}
*/

/* Главная */

.main-index {
    background-image: url("../images/decor/main-picture-background.jpg");
    width: 1200px;
    height: 485px;
}


.advantages-image {
    display: block;
}