@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.button {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    cursor: pointer;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Тень */
.page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
/* Шапка */
.page-header {
    display: flex;
    color: #000000;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

.page-header-logo {
    display: block;
    margin: 0;
    margin-left: 70px;
    margin-bottom: -5px;
    width: 139px;
    z-index: 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
  }
  
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 570px;
  }
  
  .navigation-items {
    position: relative;
    margin: 0 34px 0 0;
  }
  
  .navigation-link-now::before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #756257;
    content: "";
  }
  
  .navigation-link {
    display: block;
    padding: 20px 0 20px 0;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    position: relative;
  }
  
  .navigation-link:hover,
  .navigation-link:focus {
    opacity: 0.7;
  }
  
  .navigation-link:active {
    opacity: 0.3;
  }
  
  .navigation-user .navigation-link {
    min-width: 42px;
  }
  
  .navigation-user {
    max-width: 300px;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  .navigation-user .navigation-link:nth-child(1) {
    background-image: url("../images/decor/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    padding: 12px 0;
  }
  
  .navigation-user .navigation-link:nth-child(2) {
    background-image: url("../images/decor/favorite.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 17px;
    padding: 12px 0;
  }
  
  .navigation-link-favorite::after {
    content: "12";
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    padding: 3px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    background: #7db54f;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -2px;
}

.navigation-button {
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 15px;
    border-radius: 4px;
    margin: 0;
    width: 160px;
    margin-left: 20px;
}

.main-container {
    flex-grow: 1;
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-index {
    background-color: #ffffff;
    color: #000000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*Векторная графика Седона*/
.main-picture {
    width: 1200px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;
    background-image: url("../images/decor/main-picture-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #ffffff;
    color: #000000;
}

.main-picture-welcome {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.main-picture-gorgeous {
    display: block;
    margin: 0 auto;
    margin-top: 11px;
    max-width: 100%;
}

.main-picture-sedona {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
    max-width: 100%;
}

.main-picture-sedona::after {
    width: 1200px;
    height: 57px;
    position: relative;
    background-image: url("../images/decor/decor.svg");
    bottom: -5px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
}

/* Преимущества */
.advantages {
    background-color: #ffffff;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 90px;
}

.advantages-main {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.advantages-main-description {
    margin-top: 31px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

/* Преимущества Список */
.advantages-plus {
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.advantages-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 400px;
    height: 384px;
}

.advantage-item.house::before {
    background-image: url("../images/decor/house.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    content: "";
    width: 75px;
    height: 72px;
  }

.real-city {
    flex-grow: 400px;
}

.advantages-title {
    margin: 0px;
    padding: 0px;
    max-width: 230px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-image {
    display: block;
    width: 800px;
    height: 384px;
    max-width: 100%;
}

.blue {
    color: #ffffff;
    background-color: #82B3D3;
}

.transparency {
    color: #000000;
    background: rgba(131, 179, 211, 0.12);
}

.white {
    color: #000000;
    background: #FFFFFF;
}

.light-blue {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-description {  
    color:#333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    max-width: 230px;
}

.white-font {
    color: #ffffff;
}

/*Заинтересовались*/
.search-hotel {
    background-color: #ffffff;
    margin: 0px auto;
}

.search-hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0px auto;
    margin-top: 91px;
}

.search-hotel-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 0px auto;
    margin-top: 29px;
}

.button-find {
    margin-top: 56px;
    margin-bottom: 93px;
    width: 574px;
    height: 60px;
    background-color: #756157;
    color: #ffffff;
    border-radius: 4px;
    border: 0px;
}

.text-find {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/*Подвал*/
.page-footer {
    background-color: #ffffff;
    width: 1200px;
    margin: 0px auto;
}

/*Подписка*/
.newsletter {
    background-image: url("../images/decor/page-footer.jpg");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-color: rgba(131, 179, 211, 0.12);
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.page-footer-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.page-footer-description {
    margin: 0px;
    margin-top: 29px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
/*Форма email*/
.newsletter-form {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: 46px;
}

.subscribe {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 60px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.newsletter-email {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    /*padding-top: 20px;
    padding-left: 22px;*/
}

/*Подписаться*/
.newsletter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #82B3D3;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    color: #FFFFFF;
}

.page-footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
/*Социальные сети*/
.footer-social {
    background-color: #ffffff;
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    text-align: center;
    vertical-align: center;
    margin-left: 70px;
    margin-top: 45px;
    margin-bottom: 35px;
    margin-right: 50px;
    padding: 0px;
}

.footer-social-item {
    list-style-type: none;
    margin: 0px;
    width: 47px;
    height: 40px;
}

.icon-social {
    max-width: 100%;
    display: block;
    margin: 0;
}
.footer-contacts {
    display: flex;
    width: 331px;
    text-align: center;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 35px;
}

.footer-contacts-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.footer-contacts-logo {
    margin-right: 70px;
    margin-top: 49px;
    width: 115px;
}

/* Модальное окно */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2CC;
}

.modal-container-close {
    /*display: none;*/
}

.modal {
    position: relative;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
}

/* Форма поиска*/
.modal-auth {
    width: 715px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border: none;
    background-image: url("../images/decor/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
} 

.modal-title {
    margin: 0px;
    margin-bottom: 63px;
    padding: 0px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.auth-form .find-hotel-form-date {
    margin: 0;
    margin-bottom: 40px;
}

.find-hotel-form-date {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.find-hotel-form-adult {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.find-hotel-form-children {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

/* Каталог */
.catalog-container {
    width: 1200px;
    margin: 0 auto;
}

.inner-header {
    background-image: url("../images/decor/catalog-background.jpg");
    background-color: #82B3D3;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    padding-top: 35px;
    padding-left: 70px;
}

/* Главный заголовок */
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0px;
    margin-bottom: 10px;
}
/*Гостиницы*/
.main-page {
    margin: 0 auto;
}

.main-page-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    padding: 0;
}
/*Каталог фильтр заголовки */
/*Инфрастурктура, тип жилья, стоимость*/
.catalog-products {
    display: flex;
    padding-top: 40px;
    padding-left: 0px;
    padding-bottom: 70px;
    width: 1200px;
}

.catalog-filter {
    display: flex;
    width: 1200px;
}

.catalog-left-column {
    display: flex;
    width: 366px;
}
.catalog-right-column {
    display: flex;
    width: 518px;
}
.catalog-filter-group {
    display: flex;
}
.catalog-filter-h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}
/*Фильтр поиска*/
.catalog-filter-item {
    list-style-type: none;
}

/*Стоимость value*/
.control-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.control-prise {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.3;
    text-align: right;
}

/* Применить */
.apply-button {
    width: 160px;
    height: 48px;
    padding: 0px;

    border-radius: 4px;
    background-color: #82B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
/* Сбросить */
.clean-button{
    width: 160px;
    height: 48px;
    padding: 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Результаты поиска */
.inner-section {
    background-color: #FFFFFF;
    width: 1200px;
}

.sorting {
    display: flex;
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0;
    padding-top: 50px;
    margin-bottom: 56px;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}

/* Найдено гостиниц */
.inner-section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    margin-left: 72px;
    text-transform: uppercase;
}
/*Сортировка*/
.sorting-container {
    display: flex;
    color: #333333;
    background-color: #ffffff;
}

.select-control{
    width: 290px;
    height: 49px;
    margin: 0px;
    margin-left: 191px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-color: #ffffff;
}

.button-watching {
    width: 48px;
    height: 48px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    /*padding: 16px 17px;*/
}

.button-light {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

/*Список гостиниц*/
.index-columns {
    background-color: #ffffff;
    width: 1200px;
    margin: 0px;
}

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    align-content: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 18px;
    margin-bottom: 96px;
    margin-left: 73px;
}

.holel-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.hotel-card-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 16px;
}

.holel-card-title-link {
    text-decoration: none;
    grid-column: 1/-1;
}

/*Изображения гостиниц*/
.holel-card-image {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    max-width: 100%;
}
/*Amara Resort & Spa*/
.holel-card-title {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin: 0px;
    padding: 0px;
}
/*Гостиница*/
.holel-card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0px;
    padding: 0px;
}
/*От .... ₽*/
.holel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0px;
    padding: 0px;
}
/*Подробнее*/
.holel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    border-radius: 4px;
    border-width: 0px;
    text-decoration: none;
}
/*в избранное*/
.favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 140px;
    height: 37px;
    background: #82B3D3;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    border-width: 0px;
    text-decoration: none;
}

/*Рейтинг*/
.holel-card-star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 140px;
    height: 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
}

/*Страницы результатов поиска*/
.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.pagination-container {
    display: flex;
    padding-top: 30px;
    padding-left: 73px;
    padding-bottom: 25px;
    background-color: #ffffff;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pagination-item {
    
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}
  
.pagination-link {
    display: block;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #FFFFFF;
    background-color: #82B3D3;;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-first {
    color: #000000;
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/*Гостиниц на странице*/
.select-show {
    display: flex;
    color: #333333;
    background-color: #ffffff;
    padding-top: 36px;
    padding-bottom: 31px;
}

.select-description {
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.select-control-hotel {
    display: flex;
    width: 160px;
    height: 49px;
    margin: 0px;
    margin-left: 51px;
    padding: 0px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-color: #ffffff;
}

/* Футер Каталог */
.newsletter-catalog {
    background-color: #ffffff;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.footer-title-catalog {
    color: #000000;
}

.footer-description-catalog {
    color: #333333;
}