@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    visibility: hidden;
}
/* Шапка */
.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    Line height: 100%;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: top;
}

.main-index {
    background-image: url("../images/decor/main-picture-background.jpg");
    width: 1200px;
    height: 485px;
    background-repeat: no-repeat;
}

/* Преимущества */

.advantages {
    text-align: center;
}

.advantages-list {
    width: 400px;
    height: 384px;
}

.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-image {
    width: 800px;
    height: 384px;
}

.blue {
    color: #ffffff;
    background-color: #82B3D3;
}

.transparency {
    background: rgba(131, 179, 211, 0.12);
}

.white {
    background: #FFFFFF;
}

.light-blue {
    background: rgba(131, 179, 211, 0.2);
}

/*Поиск отеля*/

.search-hotel {
    width: 1200px;
    height: 417px;
}

/*ПОдвал*/

.page-footer {
    
}

/*Подписка*/

.newsletter {
    background-image: url("../images/decor/page-footer.jpg");
    width: 1200px;
    height: 411px;
    background-repeat: no-repeat;
}

.page-footer-title {
    width: 404px;
    height: 36px;
    margin-top: 94px;
    margin-left: 398px;
    position: absolute;

    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-footer-description {
    width: 475px;
    height: 52px;
    position: absolute;

    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}


/*Социальные сети*/

.footer-social {
    width: 1200px;
    height: 120px;
}